
/* @media(min-width: 576px){
  .dropdown:hover > .dropdown-menu {
    display: block; 
  }

} */

.dropdown-item:hover{
  text-decoration: underline;
  font-weight: bold;
}
.dropdown-item:active{
  background-color: white;
  text-decoration: underline !important;
  font-weight: bold !important;
}
.dropdown-item.active{
  background-color: white !important;
  color: black !important;
}
.active-link {
  /* Add your custom styles here */
  background-color: #f5f5f5 !important;
  color: #333 !important;
  /* Add more styles as needed */
}



.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}
.navbar-nav{
  display: flex;
  justify-content: flex-end;
}
.flex{
  display: flex;
  gap: var(--gap, 1rem)
}
.logo{
  position: absolute;
  top: 1.75em;
  left: 2em;
  z-index: 9999;
}
.primary-header a{
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.primary-header a:hover{
  text-decoration: underline;
}

.primary-header{

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.primary-navigation{
  list-style: none;
  background-color: hsl(0 0% 0% / 0.5);
}
.left-header{
  gap: 2rem;
}
/* check if the web support */
@supports(backdrop-filter: blur(1rem)){
  .primary-navigation{
    background: hsl(0 0% 100%/ 0.1);
    backdrop-filter: blur(1rem) ;
  }
}
.mobile-nav-toggle{
  display: none;
}
@media (max-width: 35em){
  .resize-animation-stopper * {
    transition: none !important;
    animation: none !important;
  }
  .primary-header{
    pointer-events: auto;
    padding-top: 90px;
  }

  .primary-navigation{
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh,10rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
    
    
  }
  .mobile-nav-toggle{
    
    display: block;
    position: absolute;
    z-index: 9990;
    /* no backround color */
    background-color: transparent;
    /* background: url('../assets/hamburger.svg'); */
    width: 2rem;
    background-repeat: no-repeat;
    /* gives width ind hight the same */
    aspect-ratio: 1;
    top: 2em;
    right: 2em;
  }
}
@media (min-width: 35em){
  .primary-navigation{
    
  
   
    --gap: clamp(1.5rem, 5vw, 3rem);
    /* only top and bottom */
    padding-block: 2rem;
    /* right and left */
    padding-inline: clamp(3rem, 8vw, 10rem);
  }
  .primary-header{
    width: 100%;
    align-items: center;
  }
 
}

/* @media(min-width: 35em) and (max-width: 55em){
 .primary-navigation {
  background-color: red;
 }
} */
/* if data-visible is true */
.primary-navigation[data-visible = "true"]{
  transform: translateX(0%);
}

.mobile-nav-toggle[aria-expanded = "true"]{
  /* use here close icon */
  background-color: bisque;
}




.carousel-item{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  animation: scaleInfinite infinite 15s;
}
@keyframes scaleInfinite{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}


.contact-links{
  list-style: none;
  display: flex;
  gap: 0.77rem;
  padding-left: 30px;
}
.contact-links a{
  padding-top: 20px;
  width: clamp(2rem, 5vw, 2.5rem);
}
.contact-links a img{
  width: 100%;
  object-fit: contain;
}
.waze-icon{
  background-color: white;
}

/* bag icon */
.cart-nav{
  width: 8%;

  position: relative;
}

.cart-icon{
  width: 100%;
  object-fit: contain;
  
}
.items-num{
  position: absolute;
  bottom: 1.3em;
  right: 0.05em; 
  background-color: red;
  font-size: 0.5rem;
  color: white;
  font-weight: bold;
  

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1;

}


.filter{
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  
}
.filter li {
  text-align: center;
  font-size: 1.25rem;
  border: 1px solid black;
  padding-inline: 1rem;
  padding-block: 0.2em;
  background-color: pink;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}
.filter li:hover{
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}
.filter .selected{
  text-decoration: underline;
  font-weight: bold;
}

@media(max-width: 700px){
  .flower-detail-container{
    flex-direction: column;
  }
}
.flower-detail-container{
  padding-inline: 2rem;
  gap: 2rem;
}
.flower-detail-image-container{
  flex: 1;
}
.flower-detail-image-container img{
  width: 100%;
  height: auto;
}
.flower-data{
  flex: 1;
  color: black;
}
.flower-data h2{
  padding: 0;
}

.flower-detail-container{
}



